<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @*<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>*@
                    @{
                        string userType = (string)Session["userType"];

                        if (userType == "ADMIN")
                        {
                            <li>@Html.ActionLink("Transactions", "Transactions", "Transaction", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        else if (userType == "VISITOR")
                        {
                            <li>@Html.ActionLink("User Transactions", "MyTransactions", "Transaction", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Send Funds", "NewTransaction", "Transaction", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                    }
                    <li>@Html.ActionLink("User", "Profile", "User", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("List of currencies", "CryptoCurrencies", "Crypto", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Transactions", "Transactions", "Portfolio", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("My currencies", "UserCryptoCurrencies", "Portfolio", new { area = "" }, new { @class = "nav-link" })</li>
                </ul>
                <ul class="navbar-nav flex-grow-1 ml-auto">
                    @{
                        string userId = (string)Session["userRowKey"];
                        if (userId == null)
                        {
                            <li>@Html.ActionLink("Login", "Login", "Authentication", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Register", "Register", "Authentication", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Logout", "Logout", "Authentication", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                    }

                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
